aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi
argon2-cffi-bindings
arrow==1.2.3
asttokens==2.2.1
attrs==22.2.0
autopep8==2.0.1
Babel
backcall
beautifulsoup4==4.11.2
black==23.1.0
bleach==6.0.0
Brotli==1.0.9
brotlipy==0.7.0
cachelib
certifi==2021.10.8
cffi
charset-normalizer==2.0.12
click==8.1.0
colorama
comm
cryptography
dash==2.6.0
dash-bootstrap-components==1.2.0
dash-core-components==2.0.0
dash-extensions==0.1.5
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.6
decorator
defusedxml
EditorConfig==0.12.3
entrypoints
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==1.2.0
fastjsonschema
Flask==2.1.0
Flask-Caching==2.0.0
Flask-Compress==1.11
Flask-Login==0.6.1
flit_core
fqdn==1.5.1
greenlet==2.0.2
gunicorn
idna
importlib-metadata
iniconfig==2.0.0
install==1.3.5
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.1
jsbeautifier==1.14.4
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter
jupyter-console==6.5.1
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
lxml
MarkupSafe
matplotlib-inline
mistune==2.0.5
more-itertools==8.13.0
mypy-extensions==1.0.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio
notebook
notebook_shim
numpy==1.24.2
openpyxl==3.1.1
packaging==23.0
pandas==1.5.3
pandocfilters
parso
pathspec==0.11.0
pexpect
pickleshare
platformdirs==3.0.0
plotly
pluggy
ply==3.11
prometheus-client==0.16.0
prompt-toolkit
psutil==5.9.4
psycopg2==2.9.5
ptyprocess
pure-eval
pycodestyle
pycparser
Pygments==2.14.0
pyOpenSSL
PyQt5-sip==12.11.0
pyrsistent==0.19.3
PySocks
pytest==7.2.1
python-dateutil
python-dotenv==0.20.0
python-json-logger==2.0.5
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole
QtPy==2.3.0
requests
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scipy==1.10.0
Send2Trash
sip
six
sniffio==1.3.0
soupsieve
SQLAlchemy==2.0.3
stack-data==0.6.2
tenacity
terminado
tinycss2
toml
tomli
tornado
traitlets==5.9.0
typing_extensions
uri-template==1.2.0
urllib3
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.1.0
widgetsnbextension==4.0.5
y-py==0.5.5
yapf==0.32.0
ypy-websocket==0.8.2
zipp
